.container
  #cgf-header
    %h1 Custom Game Finder
  .row
    #cgf-content.span12
    #cgf-sidebar.span4
  #cgf-footer

%script#user-select-tmpl(type="text/template")
  %dt <%= label %>
  %dd
    <select id="<%= id + '-select' %>" class="medium">
    <% for (var i=0; i<opts.length; i++) { %>
    <option value="<%= opts[i].val %>"<% if (selected === opts[i].val) { %> selected="selected"<% } %>><%= opts[i].label %></option>
    <% } %>
    </select>

%script#user-details-tmpl(type="text/template")
  <% if (user.logged_in) { %>
  %h2 <%= user.name + '.' + user.char_code %>
  %dl
    %dt Region
    %dd <%= user.region %>
    %dt League
    %dd <%= user.league %>
    <%= selects %>
  %button#logout-btn.btn.primary Logout
  <% } else { %>
  %h2 Welcome
  <% } %>

%script#login-form-tmpl(type="text/template")
  .modal-backdrop
  .modal
    .modal-header
      %h3 Login
    .modal-body
      %form
        %fieldset
          %legend Enter your Battle.net details
          #login-profile-url-cf.clearfix
            %label(for="login-profile-url") Profile URL
            .input
              %input#login-profile-url.xlarge(type="text")/
          #login-char-code-cf.clearfix
            %label(for="login-char-code") Character Code
            .input
              %input#login-char-code.mini(type="text" maxlength=3)/
          #login-race-cf.clearfix
            %label(for="login-race") Race
            .input
              %select#login-race.medium
                <% for (var i=0; i<races.length; i++) { %>
                <option value="<%= races[i].val %>"><%= races[i].label %></option>
                <% } %>
    .modal-footer
      %button#login-btn.btn.primary Login

%script#checkbox-group-tmpl(type="text/template")
  <div id="<%= name + '-cf' %>" class="clearfix">
  %label <%= label %>
  .input
    %ul.inputs-list
      <% for (var i=0; i<opts.length; i++) { %>
      %li
        %label
          <input type="checkbox" name="<%= name %>" value="<%= opts[i].val %>" <% if (checked.indexOf(opts[i].val) != -1) { %>checked="checked"<% } %>/>
          %span <%= opts[i].label %>
      <% } %>
  </div>

%script#map-section-tmpl(type="text/template")

%script#map-field-tmpl(type="text/template")
  #maps-cf.clearfix
    %label Maps
    .input
      %ul#map-tabs.tabs
        <% for (var i=0; i<sections.length; i++) { %>
        <li <% if (i==0) { %> class="active"<% } %>><a href="<%= '#maps-' + sections[i].name %>"><%= sections[i].label %></a></li>
        <% } %>
      .tab-content
        <% for (var s=0; s<sections.length; s++) { sec = sections[s]; %>
        <% var half = Math.ceil(sec.maps.length/2); %>
        <div id="<%= 'maps-' + sec.name %>" class="row<% if (s==0) { %> active<% } %>">
        <% for (var c=0; c<2; c++) { %>
        .span4
          %ul.inputs-list
            <% for (var i=c*half; i<Math.min((c+1)*half, sec.maps.length); i++) { %>
            %li
              %label
                <input type="checkbox" name="maps" value="<%= sec.maps[i].val %>" <% if (checked.indexOf(sec.maps[i].val) != -1) { %>checked="checked"<% } %>/>
                %span <%= sec.maps[i].label %>
            <% } %>
        <% } %>
        </div>
        <% } %>

%script#create-lobby-tmpl(type="text/template")
  %form
    %fieldset
      %legend Game options
      <%= fields %>
      .actions
        %button#create-lobby-btn.btn.primary(type="button") Create Lobby

%script#lobby-tmpl(type="text/template")
  .row
    #chat-box.span8
      %ul#msg-list.unstyled
    #user-list.span4
  .row
    .span8
      %input#msg-box(type="text")/
    .span4
      %button#exit-lobby-btn.btn.primary Exit Lobby

%script#lobby-players-tmpl(type="text/template")
  %ul.unstyled
    <% for (var i=0; i<players.length; i++) { %>
    %li <%= player_link({player: players[i]}) %>
    <% } %>

%script#player-link-tmpl(type="text/template")<
  <b><%= player.league + ' ' + player.race %></b> <a target="_blank" href="<%= player.profile_url %>"><%= player.name + '.' + player.char_code %></a>

%script#chat-msg-tmpl(type="text/template")
  %li <%= timestamp %> <%= msg %>

%script#form-error-tmpl(type="text/template")
  %span.help-inline <%= msg %>
