.container
  #cgf-header
    %h1 Custom Game Finder
  .row
    #cgf-content.span12
    #cgf-sidebar.span4
  #cgf-footer

%script#user-details-tmpl(type="text/template")
  <% if (user.logged_in) { %>
  %h2 <%= user.name + '.' + user.char_code %>
  %dl
    %dt Region
    %dd <%= user.region %>
    %dt Race
    %dd
      %select#race-select.small
        <% for (var i=0; i<races.length; i++) { %>
        <option value="<%= races[i] %>"<% if (races[i] === user.race) { %> selected="selected" <% } %>><%= races[i].charAt(0).toUpperCase() + races[i].slice(1) %></option>
        <% } %>
  %button#logout-btn.btn.primary Logout
  <% } else { %>
  %h2 Welcome
  <% } %>

%script#login-form-tmpl(type="text/template")
  .modal-backdrop
  .modal
    .modal-header
      %h3 Login
    .modal-body
      %form
        %fieldset
          %legend Enter your Battle.net details
          #profile-url-cf.clearfix
            %label(for="profile-url") Profile URL
            .input
              %input#profile-url.xlarge(type="text")/
          #char-code-cf.clearfix
            %label(for="char-code") Character Code
            .input
              %input#char-code.mini(type="text" maxlength=3)/
    .modal-footer
      %button#login-btn.btn.primary Login

%script#create-lobby-tmpl(type="text/template")
  %form
    %fieldset
      %legend Game options
      #opp-races-cf.clearfix
        %label Opponent's race
        .input
          %ul.inputs-list
            %li
              %label
                <input type="checkbox" name="opp_races" value="random" <% if (opts.opp_races.indexOf('random') != -1) { %>checked="checked"<% } %>/>
                %span Random
            %li
              %label
                <input type="checkbox" name="opp_races" value="terran" <% if (opts.opp_races.indexOf('terran') != -1) { %>checked="checked"<% } %>/>
                %span Terran
            %li
              %label
                <input type="checkbox" name="opp_races" value="zerg" <% if (opts.opp_races.indexOf('zerg') != -1) { %>checked="checked"<% } %>/>
                %span Zerg
            %li
              %label
                <input type="checkbox" name="opp_races" value="protoss" <% if (opts.opp_races.indexOf('protoss') != -1) { %>checked="checked"<% } %>/>
                %span Protoss
      .actions
        %button#create-lobby-btn.btn.primary(type="button") Create Lobby

%script#lobby-tmpl(type="text/template")
  .row
    #chat-box.span8
      %ul#msg-list.unstyled
    #user-list.span4
  .row
    .span8
      %input#msg-box(type="text")/
  %button#exit-lobby-btn.btn.primary Exit Lobby

%script#lobby-players-tmpl(type="text/template")
  %ul.unstyled
    <% for (var i=0; i<players.length; i++) { %>
    %li <%= player_link({player: players[i]}) %>
    <% } %>

%script#player-link-tmpl(type="text/template")<
  <a target="_blank" href="<%= player.profile_url %>"><%= player.name + '.' + player.char_code %></a>

%script#chat-msg-tmpl(type="text/template")
  %li <%= timestamp %> <%= msg %>

%script#form-error-tmpl(type="text/template")
  %span.help-inline <%= msg %>
