.intro-body
  %img(src="/img/banner.png")

  %center
    %h1 More GG helps you find the perfect opponent.
    %p
      More GG lets you find others to play Starcraft 2 custom games with. It
      provides an interface for both 1v1 games and non-standard custom maps.

  .row
    .span4
      %h2 Easy to start
      %p
        Just provide the race you play as and your Battle.net profile URL and we'll
        handle the rest! Your name, league, and region will be determined for you.
    .span8
      %img(src="/img/login.png")

  .row
    .span4
      %h2 Region chat
      %p
        Get to know others on the site in your region! Plan games, analyze the
        latest strategies, or discuss on-going tournaments.
    .span8
      %img(src="/img/global.png")

  .row
    .span4
      %h2 1v1 exactly how you want
      %p
        Sick of the standard ladder maps? Try your hand at some tournament maps.
        Need to work on your ZvT? No problem. You can filter opponents by league
        and race, choose the specific maps you want to play on, and even find
        others to play a full series with.
    .span8
      %img(src="/img/1v1.png")

  .row
    .span4
      %h2 Host custom lobbies
      %p
        Remember back when you could name your games and see everyone hosting games
        for every map? Now it's possible again. Custom lobbies bring back the way
        we've been finding games for over a decade.
    .span8
      %img(src="/img/custom.png")

  .row
    .span4
      %h2 Open source
      %p
        Want to add your own features? Get on
        %a(href="http://github.com/brentc4m/moregg.sc") GitHub
        and help us out!
    .span8
      %img(src="/img/github.png")
