.container
  #cgf-header
    %h1 Custom Game Finder
  .row
    #cgf-content.span12
    #cgf-sidebar.span4
  #cgf-footer

%script#user-details-tmpl(type="text/template")
  <% if (user.logged_in) { %>
  %h2 <%= user.name + '.' + user.char_code %>
  %dl
    %dt Region
    %dd <%= user.region %>
  %button#logout-btn.btn.primary Logout
  <% } else { %>
  %h2 Welcome
  <% } %>

%script#login-form-tmpl(type="text/template")
  .modal-backdrop
  .modal
    .modal-header
      %h3 Login
    .modal-body
      %form
        %fieldset
          %legend Enter your Battle.net details
          #profile-url-cf.clearfix
            %label(for="profile-url") Profile URL
            .input
              %input#profile-url.xlarge(type="text")/
          #char-code-cf.clearfix
            %label(for="char-code") Character Code
            .input
              %input#char-code.mini(type="text" maxlength=3)/
    .modal-footer
      %button#login-btn.btn.primary Login

%script#create-lobby-tmpl(type="text/template")
  %form
    %fieldset
      .actions
        %button#create-lobby-btn.btn.primary(type="button") Create Lobby

%script#lobby-tmpl(type="text/template")
  .row
    #chat-box.span8
      %ul#msg-list.unstyled
    #user-list.span4
  .row
    .span8
      %input#msg-box(type="text")/
  %button#exit-lobby-btn.btn.primary Exit Lobby

%script#lobby-players-tmpl(type="text/template")
  %ul.unstyled
    <% for (var i=0; i<players.length; i++) { %>
    %li <%= player_link({player: players[i]}) %>
    <% } %>

%script#player-link-tmpl(type="text/template")<
  <a target="_blank" href="<%= player.profile_url %>"><%= player.name + '.' + player.char_code %></a>

%script#chat-msg-tmpl(type="text/template")
  %li <%= timestamp %> <%= msg %>

%script#form-error-tmpl(type="text/template")
  %span.help-inline <%= msg %>
