- @layout = "app"

#cgf-header
  .container
    %a(href="/")
      %img.logo(src="/img/logo.png")
    %ul
      %li.selected
        %a(href="/games/") Find Games
      %li
        %a(href="/faq/") FAQ
      %li
        %a(href="/about/") About
    #user-stats.pull-right
.container
  .row
    #cgf-content.span9
    #cgf-sidebar.span3
#cgf-footer
  .container
    &copy; 2012 moregg.sc

%script(language="javascript" type="text/javascript")
  $(function () { new App().start(); });

%script#user-stats-tmpl(type="text/template")
  <% if (user_stats) { %>
  %div 
    <% if (user_stats.num_players == 1) label = 'player'; else label = 'players'; %>
    %strong <%= user_stats.num_players %>
    <%= label %> online
  %div
    <% if (user_stats.num_queued == 1) label = 'player'; else label = 'players'; %>
    %strong <%= user_stats.num_queued %>
    <%= label %> queued
  <% } %>

%script#user-select-tmpl(type="text/template")
  <select id="<%= id + '-select' %>" class="span2"<% if (disabled) { %>disabled="disabled"<% } %>>
  <% for (var i=0; i<opts.length; i++) { %>
  <option value="<%= opts[i].val %>"<% if (selected === opts[i].val) { %> selected="selected"<% } %>><%= opts[i].label %></option>
  <% } %>
  </select>

%script#user-settings-tmpl(type="text/template")
  %h2 Settings
  %ul.unstyled
    %li
      <img src="/img/l/<%= user.league %>_m.png" style="vertical-align: middle" />
      <%- user.name + '.' + user.char_code + '@' + user.region %>
    %li
      <%= race_select %>
    <% if (in_game) { %>
    %li
      %button#exit-lobby-btn.btn.btn-primary Exit lobby
    <% } else { %>
    %li
      %button#show-lobby-btn.btn.btn-primary Show Lobby
    %li
      %button#find-1s-btn.btn.btn-primary Find 1v1
    %li
      %button#show-join-custom-btn.btn.btn-primary Join Custom
    %li
      %button#show-host-custom-btn.btn.btn-primary Host Custom
    %li
      %button#open-blocklist-btn.btn.btn-primary(type="button") Edit Blocklist
    <% } %>
    %li
      %button#logout-btn.btn.btn-primary Logout

%script#login-form-tmpl(type="text/template")
  %h2 Login
  %form
    %label Profile URL
    %input#login-profile-url(type="text")/
    %label Character Code
    %input#login-char-code(type="text" maxlength=3)/
    %label Race
    %select#login-race
      <% for (var i=0; i<races.length; i++) { %>
      <option value="<%= races[i].val %>"><%= races[i].label %></option>
      <% } %>
    %p 
      %a#login-popover Where do I find these?
    %button#login-btn.btn.btn-primary(type="button") Login

%script#login-popover-tmpl(type="text/template")
  %p
    Visit <a href="http://battle.net">battle.net</a> and login. Click the large
    Starcraft 2 image. In the upper right you should see your SC2 nickname.
    Click it, then click <strong>Profile</strong>. This is your profile page.
    Copy the URL from the location bar in your browser and paste it into the
    Profile URL box.
  %br/
  %p
    You can find your character code in-game. Open the Starcraft 2 client and
    login. Open your friends list and click <strong>Add Friend</strong>. You
    should see your 3 digit character code in the window that comes up.

%script#login-msg-tmpl(type="text/template")
  #login-msg <%= msg %>

%script#checkbox-group-tmpl(type="text/template")
  <fieldset id="<%= name + '-cg' %>" class="control-group">
  %label.control-label <%= label %>
  .controls
    <% for (var i=0; i<opts.length; i++) { %>
    %label.checkbox.inline
      <input type="checkbox" name="<%= name %>" value="<%= opts[i].val %>" <% if (checked.indexOf(opts[i].val) != -1) { %>checked="checked"<% } %>/>
      <%= opts[i].label %>
    <% } %>
  </fieldset>

%script#split-checkbox-group-tmpl(type="text/template")
  <fieldset id="<%= name + '-cg' %>" class="control-group">
  %label.control-label <%= label %>
  .controls
    .row
      <% var half = Math.ceil(opts.length/2); %>
      <% for (var c=0; c<2; c++) { %>
      .span3(style="padding-top: 6px")
        <% for (var i=c*half; i<Math.min((c+1)*half, opts.length); i++) { %>
        %label.checkbox
          <input type="checkbox" name="<%= name %>" value="<%= opts[i].val %>" <% if (checked.indexOf(opts[i].val) != -1) { %>checked="checked"<% } %>/>
          <%= opts[i].label %>
        <% } %>
      <% } %>
  </fieldset>

%script#map-field-tmpl(type="text/template")
  %fieldset#maps-cg.control-group
    %label.control-label Maps
    .controls
      %ul#map-tabs.nav.nav-tabs
        <% for (var i=0; i<sections.length; i++) { %>
        <li <% if (i==0) { %> class="active"<% } %>><a href="<%= '#maps-' + sections[i].name %>"><%= sections[i].label %></a></li>
        <% } %>
      .tab-content
        <% for (var s=0; s<sections.length; s++) { sec = sections[s]; %>
        <% var half = Math.ceil(sec.maps.length/2); %>
        <div id="<%= 'maps-' + sec.name %>" class="tab-pane row<% if (s==0) { %> active<% } %>">
        <% for (var c=0; c<2; c++) { %>
        .span3
          <% for (var i=c*half; i<Math.min((c+1)*half, sec.maps.length); i++) { %>
          %label.checkbox
            <input type="checkbox" name="maps" value="<%= sec.maps[i].val %>" <% if (checked.indexOf(sec.maps[i].val) != -1) { %>checked="checked"<% } %>/>
            <%= sec.maps[i].label %>
          <% } %>
        <% } %>
        </div>
        <% } %>

%script#create-lobby-tmpl(type="text/template")
  %h2 Find game
  %form.form-horizontal
    <%= fields %>
    %fieldset.form-actions
      %button#create-lobby-btn.btn.btn-primary(type="button") Find game
      %button#close-create-lobby-btn.btn.btn-primary(type="button") Close

%script#lobby-tmpl(type="text/template")
  %h2 Lobby
  .row
    .span3
      #user-list.panel-container
    .span6
      #chat-box.panel-container
        #msg-list
      %input#msg-box.span6(type="text")/

%script#lobby-players-tmpl(type="text/template")
  %h3 Players
  <% for (var i=0; i<players.length; i++) { %>
  %div
    <%= player_link({player: players[i]}) %>
    <% if (!players[i].this_player) { %>
    %b <a class="block-player" href="#<%= players[i].name + '.' + players[i].char_code %>">X</a>
    <% } %>
  <% } %>
  <% if (players.length == 0) { %>
  No players found.
  <% } %>

%script#player-link-tmpl(type="text/template")<
  <img src="/img/l/<%= player.league %>.png"> <img src="/img/r/<%= player.race %>.png"> <a target="_blank" href="<%- player.profile_url %>"><%= player.name + '.' + player.char_code %></a>

%script#chat-msg-tmpl(type="text/template")
  .msg
    %span.light <%= timestamp %>
    <%= raw_prefix %><%- msg %>

%script#form-error-tmpl(type="text/template")
  %span.help-inline <%= msg %>

%script#alert-tmpl(type="text/template")
  <div class="alert alert-<%= type %>">
  <%= msg %>
  </div>

%script#blocklist-editor-tmpl(type="text/template")
  %h2 Blocklist
  %form
    .row
      .span4
        %select#blocklist-remove-select(size=10 multiple="multiple" name="blocklist")
          <% for (var i=0; i<blocklist.length; i++) { %>
          %option <%= blocklist[i] %>
          <% } %>
        %button#blocklist-remove-btn.btn.btn-primary(type="button") Remove Selected
      .span4
        %label Name
        %input#blocklist-add-name.medium(type="text")/
        %label Character code
        %input#blocklist-add-code.mini(type="text" maxlength=3)/
        %br/
        %button#blocklist-add-btn.btn.btn-primary(type="button") Add
  %button#blocklist-close-btn.btn.btn-primary(type="button") Close

%script#host-custom-tmpl(type="text/template")
  %h2 Host Custom Game
  %form.form-horizontal
    %fieldset#custom-name-cg.control-group
      %label.control-label Lobby name
      .controls
        %input#custom-name(type="text")/
    %fieldset#custom-map-cg.control-group
      %label.control-label Map
      .controls
        %input#custom-map(type="text")/
    %fieldset#custom-max-players-cg.control-group
      %label.control-label Max players
      .controls
        %input#custom-max-players(type="text")/
    %fieldset.form-actions
      %button#host-custom-btn.btn.btn-primary(type="button") Host Game
      %button#close-custom-btn.btn.btn-primary(type="button") Close

%script#join-custom-tmpl(type="text/template")
  %h2 Join Custom Game
  %div
    %button#refresh-customs-btn.btn.btn-primary(type="button") Refresh
    %button#close-customs-btn.btn.btn-primary(type="button") Close
  %p
    <% if (lobbies.length > 0) { %>
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Map
          %th Players
          %th Join
      %tbody
        <% for (var i=0; i<lobbies.length; i++) { %>
        %tr
          %td <%- lobbies[i].name %>
          %td <%- lobbies[i].map %>
          %td <%- lobbies[i].num_players + ' / ' + lobbies[i].max_players %>
          %td
            <a href="#<%= lobbies[i].id %>" class="join-custom">Join</a>
        <% } %>
    <% } else { %>
    No games found.
    <% } %>
