$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;

$blueprint-font-size: 16px;
$blueprint-font-family: Helvetica Neue, Helvetica, Arial;

@import "compass/reset";
@import "blueprint";

@include blueprint-typography;

#container {
    @include container;

    #header, #footer {
        @include column(24);
    }

    #sidebar {
        @include column(8, true);
    }

    #content {
        @include column(16);
    }
}
