#cgf-content, #cgf-sidebar {
    //border: 1px solid black;
}

#msg-box {
    width: 100%;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
}

.light {
    color: #888;
}

.league-n {
    background: url("/img/l/n_m.png") center no-repeat;
    width: 25px;
}

.league-b {
    background: url("/img/l/b_m.png") center no-repeat;
    width: 25px;
}

.league-s {
    background: url("/img/l/s_m.png") center no-repeat;
    width: 25px;
}

.league-g {
    background: url("/img/l/g_m.png") center no-repeat;
    width: 25px;
}

.league-p {
    background: url("/img/l/p_m.png") center no-repeat;
    width: 25px;
}

.league-d {
    background: url("/img/l/d_m.png") center no-repeat;
    width: 25px;
}

.league-m {
    background: url("/img/l/m_m.png") center no-repeat;
    width: 25px;
}

.league-gm {
    background: url("/img/l/gm_m.png") center no-repeat;
    width: 25px;
}
