body {
    //background: #121211 url(../img/bg.jpg) center top;
    background: #121211;
    color: #f8f3e5;
}

label {
    color: #f8f3e5;
}

.form-actions {
    background: transparent;
    border: none;
}

h1, h2, h3 {
    color: #f8f3e5;
}

.popover {
    color: #000;
}

.popover-title {
    color: #000;
}

.intro-body {
    h1 {
        margin-top: 50px;
    }
    .span4 {
        padding-top: 50px;
    }

    .row {
        margin-top: 50px;
    }
}

.panel-container {
    background: url(../img/panel_bg.png);
    border: 1px solid #232321;
    padding: 10px;
}

.nav-tabs {
    border-bottom: 1px solid #232321;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
    color: #f8f3e5;
    background: url(../img/panel_bg.png);
    border: 1px solid #232321;
    border-bottom-color: transparent;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #f8f3e5;
    background: url(../img/panel_bg.png);
    border: 1px solid #232321;
    border-bottom-color: transparent;
    cursor: default;
}

.table th, .table td {
    border-top: 1px solid #232321;
}

.table tbody + tbody {
    border-top: 2px solid #232321;
}

.table-bordered {
    border: 1px solid #232321;
}

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
    border-left: 1px solid #232321;
}

#cgf-header {
    border-bottom: 1px solid #232321;
    margin-bottom: 15px;

    background: #121211;

    padding: 0px;

    .logo {
        float: left;
        margin-top: 25px;
    }

    ul {
        list-style-type: none;
        margin-top: 35px;
        margin-bottom: 0px;
        float: left;

        li {
            float: left;
            font-size: 14px;
            padding-bottom: 22px;

            a {
                border-left:1px solid #272725;
                padding:0 10px;
                display:block;
                height:15px;
                text-decoration: none;
            }
        }

        li:hover a {
            color:#f8f3e5;
        }

        li.selected {
            border-bottom:5px solid #232321;
            a {
                color:#FFF;
            }
        }

    }
    ul li:first-child a {border-left:0;}
}

#user-stats {
    margin-top: 35px;
}

#cgf-sidebar li {
    margin-bottom: 5px;
}

#cgf-sidebar button {
    width: 125px;
}

#cgf-footer {
    margin-top: 15px;
    border-top: 1px solid #232321;
    padding-top: 5px;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
}

#user-list {
    height: 430px;
    overflow-y: auto;
}

#msg-box {
    margin-top: 2px;
}

.light {
    color: #555;
}

.league-n {
    background: url("/img/l/n.png") center no-repeat;
    width: 25px;
}

.league-b {
    background: url("/img/l/b.png") center no-repeat;
    width: 25px;
}

.league-s {
    background: url("/img/l/s.png") center no-repeat;
    width: 25px;
}

.league-g {
    background: url("/img/l/g.png") center no-repeat;
    width: 25px;
}

.league-p {
    background: url("/img/l/p.png") center no-repeat;
    width: 25px;
}

.league-d {
    float: left;
    background: url("/img/l/d.png") center no-repeat;
    width: 25px;
}

.league-m {
    background: url("/img/l/m.png") center no-repeat;
    width: 25px;
}

.league-gm {
    background: url("/img/l/gm.png") center no-repeat;
    width: 25px;
}
