%h2 Frequently Asked Questions
%h3 What is it?
%p
  More GG lets you find others to play Starcraft 2 custom games with.
  It takes into account your league and race and lets you filter opponents
  by their league and race. You can also select specific maps to play on
  and whether you want to play a single game or a series (best of 3, etc).
%h3 How does it work?
%p
  When you first start you will be asked for your profile URL, character
  code, and race. After logging in you can change the game options to
  your preference and find a game.
%p
  When an opponent is found they will join your lobby and the game settings
  will be displayed in chat. Add them as a friend in the SC2 client using
  their name and character code and create a custom game together.
%h3 How do I find my profile URL?
%p
  Visit <a href="http://battle.net">battle.net</a> and login. Click the large
  Starcraft 2 image. In the upper right you should see your SC2 nickname.
  Click it, then click <strong>Profile</strong>. This is your profile page.
  Copy the URL from the location bar in your browser and paste it into the
  More GG login window.
%h3 How do I find my character code?
%p
  You can find your character code in-game. Open the Starcraft 2 client and
  login. Open your friends list and click <strong>add friend</strong>. You
  should see your 3 digit character code in the window that comes up.
