!!!
%html
  %head
    %title More GG - Starcraft 2 Custom Game Finder
    = stylesheets
  %body
    .container
      .topbar
        #cgf-topbar.topbar-inner
          .container
            %a.brand(href="/")
              more
              %strong gg
            %ul.nav
              %li
                %a(href="/faq/") FAQ
            %ul.nav.secondary-nav
              %li
                %a(href="/app/") Start Playing
      = yield
      #cgf-footer.pull-right
        Copyright 2012 Brent Hill moregg.sc
