!!!
%html
  %head
    %title More GG - Starcraft 2 Custom Game Finder
    %link(href="/css/bootstrap.css" media="all" rel="stylesheet" type="text/css")
    %link(href="/css/default.css" media="all" rel="stylesheet" type="text/css")
  %body
    #cgf-header
      .container
        %a(href="/")
          %img.logo(src="/img/logo.png")
        %ul
          %li.selected
            %a(href="/") About
          %li
            %a(href="/games/") Play
          %li
            %a(href="http://github.com/brentc4m/moregg.sc") Developers
    .container
      = yield
    #cgf-footer
      .container
        &copy; 2012 moregg.sc
