!!!
%html
  %head
    %title More GG - Starcraft 2 Custom Game Finder
    = stylesheets 'bootstrap'
    = stylesheets 'default'
  %body
    #cgf-header
      .container
        %a(href="/")
          %img.logo(src="/img/logo.png")
        %ul
          %li
            %a(href="/games/") Find Games
          %li
            %a(href="/faq/") FAQ
          %li
            %a(href="/about/") About
    .container
      = yield
    #cgf-footer
      .container
        &copy; 2012 moregg.sc
